{% extends 'base.html.twig' %}



{% block body %}

<!-- <div class="w3-container w3-card w3-white w3-round w3-margin-bottom">


</div> -->



<!-- Header -->
<div class="w3-container w3-text-theme " style="margin-top:80px">
    <h1 class="w3-center">My MailBox </h1>
</div>


<div class="w3-container w3-content" style="max-width: 1400px; margin-top: 80px;">


    <div class="w3-third">
        <a href="{{ path ('inbox-messages') }}" style="text-decoration: none;" >
        <div class="w3-white w3-text w3-card-4 w3-right {% if page == 'in' %} w3-gray w3-hover-gray  {% endif %} w3-button " style="width: 300px;">
            <div class="w3-container">
                <h2 class="w3-text-theme w3-center">Inbox</h2>
                {% if page == 'in'  %}
                <p class=" w3-center w3-small">You have ({{unread}}) unread message</p>
                {% endif %}
            </div>
        </div>
        </a>
        <a href="{{ path ('outbox-messages') }}" style="text-decoration: none;" >
            <div class="w3-white w3-text w3-card-4 w3-right w3-button {% if page == 'out' %} w3-gray w3-hover-gray  {% endif %} " style="width: 300px;">
                <div class="w3-container">
                <h2 class="w3-text-theme w3-center">Outbox</h2>
                {# <!-- <p class=" w3-center">You have ({{unread}}) unread message{{unread|pluralize:"s"}}</p> --> #}
            </div>
        </div>
        </a>
    </div>
    


<!-- Message List -->
<div class="w3-twothird">
    <div class="w3-container w3-card w3-white w3-margin-bottom">

    <!-- Message 1 -->
    {% for mess in messages %}
    
    <a href="{{ path ('messages', { 'id' : mess.id } ) }}" style="text-decoration: none;">
        <div class="w3-container w3-margin w3-padding {% if mess.is_read == false %} w3-theme-l4  {% else %} w3-strong {% endif %}"
        {% if mess.is_read == false %} style="  font-weight: bold;  " {% endif %}>
            <p class="w3-right">{{   (mess.created.date|date("d/m/Y H:i"))   }}</p>


            <h3> From {% if mess.sender.name %} {{mess.sender.name }} {% else %} {{mess.getEmail}} {% endif %} </h3>
            {% if page == 'out' %}
                <h3> To  {{mess.recipient.name}} </h3>
            {% endif %}

            
            <p style="font-weight: bold;" >Subject : {{mess.subject}} </p>
            <p >{{mess.text|slice(0,120)}}</p>
        </div>
    </a>
    
    {% endfor %}
</div>
    


    
</div>
</div>


{% endblock %}