
{% extends 'base.html.twig' %}


{% block body %}

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <div class="w3-row">
        <div class="w3-col m4">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container w3-center">
                    <p class="w3-center"><img src="{{profile.imageUrl}}" class="w3-circle" style="max-width: 400px; max-height: 550px;  
                        border-radius: 40px; " alt="Avatar"></p>
                    <h2 >{{profile.name}}</h2>
                    <hr>
                    {% if profile.intro %}
                    <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{profile.intro}}</p>
                    {% endif %}

                    <p><i class="fa fa-at fa-fw w3-margin-right w3-text-theme"></i> {{profile.email}}</p>

                    {% if profile.location %}
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{profile.location}}</p>
                    {% endif %}

                    {% if profile.number %}
                    <p><i class="fa  fa-mobile  w3-margin-right w3-text-theme"></i> {{profile.number}}</p>
                    {% endif %}

                    {# <p><i class="fa fa-calendar fa-fw w3-margin-right w3-text-theme"></i> Here from {{profile.created.date}}</p> #}

                    {% if profile.soc_facebook %}
                    <a href="{{profile.getSocFacebook}}"><i class="fa  fa-facebook w3-text-theme w3-xxlarge "></i></a>
                    {% endif %}

                    {# {% if author.soc_x %}
                    <a href="{{author.soc_x}}"><i class="fa  fa-twitter w3-text-theme  w3-xxlarge "></i></a>
                    {% endif %} #}

                    {# {% if profile.soc_youtube %}
                    <a href="{{author.soc_youtube}}"><i class="fa  fa-youtube w3-text-theme  w3-xxlarge ">    </i></a>
                    {% endif %} #}

                    {% if profile.soc_linkedin %}
                    <a href="{{profile.getSocLinkedin}}"><i class="fa  fa-linkedin w3-text-theme w3-xxlarge ">   </i></a>
                    {% endif %}

                    {# {% if author.soc_telegram %}
                    <a href="{{author.soc_telegram}}"><i class="fa  fa-telegram w3-text-theme w3-xxlarge ">   </i></a>
                    {% endif %} #}

                      <br> 

                    {%  if page =='myPage' %}
                    <a href="/profiles/edit/{{profile.id}}" class="w3-button w3-theme w3-right w3-right"><i class="fa fa-edit"></i> Edit Profile</a>
                    {% endif %}

                </div>


                <!-- Send Message -->
                {% if page != 'myPage'%}
                <div class=" w3-white w3-margin w3-padding w3-center">
                    <a href="/create-message/{{profile.id}}" class="w3-button w3-theme w3-margin"><i class="fa fa-envelope"></i> Send Message</a>
                </div>
                {% endif %}

        
            </div>


            <br>

            <div class="w3-card w3-round w3-white   ">
                <div class="w3-container ">
                    <h2>About me</h2>
                    <p> {{profile.bio}}</p>
                </div>
            </div>
            <br>

            <!-- Interests -->
            <div class="w3-card w3-round w3-white  ">

                    {% if page  == 'myPage' %}
                        <a class="w3-button w3-theme w3-right" href="/interest-create"><i class="fa fa-plus"></i>Add Interest</a>
                    {% endif %}

                <div class="w3-container ">
                    <h2>Interests</h2>
                
                    {% for interest in profile.interests %}
                        {% if page  == 'myPage' %}
                            <a href="/interest-delete/{{interest.id}}"   class="w3-button w3-red w3-right " style="margin-left: 10px;"><i class="fa fa-eraser"></i> Delete</a>
                            <a href="/interest-edit/{{interest.id}}" class="w3-button w3-theme w3-right "><i class="fa fa-edit"></i> Edit</a>
                        {% endif %}
                        <p class=" w3-tag  w3-text-white  w3-theme">{{interest.name}}</p> 
                        <p> {{interest.description}}</p>
                    {% endfor %} 
                </div>
            </div>

        </div>

        <!-- Middle Column -->
        <div class="w3-col    w3-round w3-margin m7">


            {# {% if current.id == profile.id %} #}
            {% if page == 'myPage' %}
                <h2 class="w3-text-theme w3-center"> My blogs</h2>
                <a class="w3-button w3-margin-bottom w3-margin-right w3-theme w3-right" href="/blogs/create"><i class="fa fa-plus"></i>Addd Blog</a>

            {% else %}
                <h2 class="w3-text-theme w3-center"> {{profile.name}} blogs</h2>
            {% endif %}


            {% for blog in profile.blogs %}

            <div class="w3-container w3-card w3-white w3-round w3-margin-bottom"><br>

                {% if page =='myPage' %}
                 <a href="/blogs/edit/{{blog.id}}" class="w3-button w3-theme "><i class="fa fa-edit"></i> Edit</a>
                <a href="/blogs/delete/{{blog.id}}"   class="w3-button w3-red  " style="margin-right: 10px;"><i class="fa fa-eraser"></i> Delete</a>
                {% endif %}
                <div >
                    <br>

                    {# <span class="w3-right w3-opacity">{{ blog.created|date:"D j.n.Y G:i" }} </span>
    
                        {% if time.0 < 1 and time.1 < 1 and time.2 < 1 %}
                            <span class="w3-right w3-opacity">{{time.3}} sec</span>
                        {% elif time.0 < 1  and time.1 < 1%}
                            <span class="w3-right w3-opacity"> {{ time.2 }}  min</span>
                        {% elif time.0 < 1 %}
                            <span class="w3-right w3-opacity"> {{ time.1 }} hour{{time.1|pluralize:"s"}}</span>
                        {% else %}
                            <span class="w3-right w3-opacity">{{ time.forloop.counter0.0 }} day{{time.0|pluralize:"s"}}</span>
                            <p>{{ time }}</p>
                        {% endif %}
                        <p>{{ counter.time }}</p>  #}
    
                        <hr>
                    <div class="w3-row-padding" >
                        <div >
                            <img src="{{blog.imageUrl}}" style="width:100%" alt="Logo" class="w3-margin-bottom">
                        </div>
                    </div>
                    <p>
                        {% for tag in blog.tags %}
                        <span class="w3-tag w3-small w3-theme">#{{tag.name}}</span>
                        {% endfor %}
                        
                    </p>
                    <h3 class="w3-center">{{blog.title}}</h3>
                    <p>{{blog.description|slice(0,400)}}...</p>
                      

                      <!-- Likes --> 
                    {# <div class="w3-text-theme w3-right">
                        <i class="fa fa-thumbs-up"></i>
                        <span>{{ blog.vote_like  }} Like{{blog.vote_like|pluralize:"s"}} </span> 
                        <i class="fa fa-thumbs-down"></i>
                        <span>{{ blog.vote_dislike  }} Dislike{{blog.vote_dislike|pluralize:"s"}} </span> 
                    </div>     #}


                    <a href="/blogs/{{blog.id}}" type="button" class="w3-button w3-theme w3-center w3-margin-bottom"><i class="fa fa-info"></i> Show more</a> 
      
    
                    <br>

                </div>
            </div>
            
            
            {% endfor %} 

             

        </div>

            
       
    </div>
</div>
<br>


{% endblock %}